{
  "root": true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-loss-of-precision": "off",
    "no-nonoctal-decimal-escape": "off",
    "no-unsafe-optional-chaining": "off",
    "no-useless-backreference": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_[a-zA-Z0-9]*$",
        "varsIgnorePattern": "^_[a-zA-Z0-9]*$"
      }
    ]
  }
}
